**/env
*/env
*.env
**/node_modules
package-lock.json
**/data/cochanges/*
**/data/graph_data/*
analysis.log
**/data/results/*
**/results/*

**/data/figures/*
**/data/options/*
**/data/microservices/*
**/data/projects/*
**/data/clustering/*
**/data/contributors/*
**/data/projects_last_commit/*
**/data/technological/*
**/data/test_projects/*
**/slurm/projects/*
**/__pycache__/**

**/data/netflix/latest_commit/*
**/data/uber/latest_commit/*
**/data/disney/latest_commit/*
**/data/facebook/latest_commit/*
**/data/google/latest_commit/*
**/data/spotify/latest_commit/*
**/data/airbnb/latest_commit/*

**/data/netflix/projects/*
**/data/uber/projects/*
**/data/disney/projects/*
**/data/facebook/projects/*
**/data/google/projects/*
**/data/spotify/projects/*
**/data/airbnb/projects/*

**/slurm/netflix/*
**/slurm/uber/*
**/slurm/disney/*
**/slurm/facebook/*
**/slurm/google/*
**/slurm/spotify/*
**/slurm/airbnb/*