**/env
*/env
*.env
**/node_modules
package-lock.json
**/data/cochanges/*
**/data/graph_data/*
analysis.log
**/data/results/*
**/results/*

**/data/figures/*
**/data/options/*
**/data/microservices/*
**/data/projects/*
**/data/clustering/*
**/data/contributors/*
**/data/projects_last_commit/*
**/data/technological/*
**/data/test_projects/*
**/slurm/projects/*
**/__pycache__/**