**/env
*/env
*.env
**/node_modules
package-lock.json
**/data/cochanges/*
**/data/graph_data/*
analysis.log
**/data/results/*
**/results/*

**/data/figures/*
**/data/options/*
**/data/microservice_projects/*
**/data/top_github_projects/*
**/data/microservices/*
**/data/projects/*